/* Vistas genericas internas al formulario del archivo */
.download-file-form { }

.download-file-form .wrapper-download-file-form {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.download-file-form .wrapper-download-file-form .title-form { 
	color: rgba(141,198,63,1);
}