.popup-form-files {
	width: 802px;
	height: 466px;
	background-position: -1194px -1446px;
}

.popup-form-files .btn-close {
	width: 44px;
	height: 44px;
	background-position: -16px -676px;
	right: 0;
	top: 0;
	position: absolute;
}