#wrapper-main-header {
	width: 1200px;
	height: 250px;
}

#main-header {
	text-align: center;
	height: 100%;
}

#main-header #main-nav, #main-header #main-nav ul {
	display: inline-block;
	width: 100%;
}

.item-main-nav {
	position: absolute;	
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}

.item-main-nav.btn-inicio {
	right: 950px;
}

.item-main-nav.btn-docentes {
	right: 525px;
}

.item-main-nav.btn-productos {
	left: 525px;
}

.item-main-nav.btn-contacto {
	left: 950px;
}

.item-main-nav .section-name {
	font-size: 20pt;
	color:#0066ff;
	text-shadow: 2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1),2px 2px 4px rgba(255,255,255,1),-2px -2px 4px rgba(255,255,255,1), 1px -3px 1px rgba(255,255,255,1),-1px 2px 10px rgba(255,255,255,1) ;
	margin-top: -20px;
	display: inline-block;
	cursor: pointer;
	-webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

.item-main-nav .section-name:hover {
	-webkit-transform:scale(1.25) !important;
	transform:scale(1.25) !important;
}

.item-main-nav.btn-inicio .section-name,
.item-main-nav.btn-productos .section-name {
	transform:rotate(-5deg);
}

.item-main-nav.btn-docentes .section-name,
.item-main-nav.btn-contacto .section-name {
	transform:rotate(5deg);
}



