.wrapper-lastest-releases {
	text-align: center;
	background-position: -14px -23px;
	height: 1503px;
	position: relative;
}

.wrapper-lastest-releases ul.list-releases {
	display: inline-block;
	margin-top: 182px;
}

.wrapper-lastest-releases ul.list-releases li {
	display: inline-block;
	float: left;
}

.wrapper-lastest-releases ul.list-releases li:last-child {
	padding-right: 0;
}

.item-new-release {
	position: relative;
	width: 300px;
	height: 540px;
}

.wrapper-release-description {
	width: 240px;
	height: 230px;
	padding: 18px 10px;
	border-radius: 15px;
	border: 5px solid rgba(255,255,255,1);
	text-align: center;
	position: absolute;
	top: 184px;
	left: 5px;
	box-shadow: 3px 3px 25px rgba(0,0,0,0.3);
	background: url("./images/background-popup.png");
	background-blend-mode: multiply;
	background-repeat: repeat;
}


.item-new-release.product-origami .wrapper-release-description {
	background-color: rgba(65,145,214,1);
}
.item-new-release.product-titeres .wrapper-release-description {
	background-color: rgba(232,180,51,1);
}
.item-new-release.product-pintura .wrapper-release-description {
	background-color: rgba(210,45,46,1);
}
.item-new-release.product-figuras .wrapper-release-description {
	background-color: rgba(107,202,37,1);
}


.wrapper-release-description h1 {
	font-size: 14pt;
	font-family: "blurmediumregular";
	text-transform: uppercase;
}

.wrapper-release-description p {
	font-size: 10pt;
	line-height: 12pt;
}

.wrapper-release-description h1,
.wrapper-release-description p {
	text-shadow:3px 3px 8px rgba(0,0,0,.5);
}

.wrapper-release-description .item-new-release .product-origami p {
	line-height: 12pt;
}

.wrapper-accesories {
	position: relative;
}

.item-new-release .accesory {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}

.accesory.box {
	width: 186px;
	height: 232px;
	top:0;
	left: -84px;
}

.accesory.book {
	width: 158px;
	height: 144px;
	top:80px;
	left: 135px;
}

.accesory.accesory-product-origami.box {
	background-position: -543px -355px;
}

.accesory.accesory-product-titeres.box {
	background-position: -749px -355px;
}

.accesory.accesory-product-pintura.box {
	background-position: -953px -355px;
}

.accesory.accesory-product-figuras.box {
	background-position: -1161px -355px;
}


.accesory.accesory-product-origami.book {
	background-position: -532px -656px;
}
.accesory.accesory-product-titeres.book {
	background-position: -861px -656px;
}
.accesory.accesory-product-pintura.book {
	background-position: -698px -656px;
}
.accesory.accesory-product-figuras.book {
	background-position: -532px -656px;
}


.accesory.extra {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 999;
}

.accesory.accesory-product-origami.extra-1 {
	width: 164px;
	height: 98px;
	background-position: -1196px -839px;
	bottom: -77px;
}

.accesory.accesory-product-titeres.extra-1 {
	width: 117px;
	height: 95px;
	background-position: -855px -839px;
	bottom: -51px;
	right: -85px;
}

.accesory.accesory-product-titeres.extra-2 {
	width: 134px;
	height: 157px;
	background-position: -547px -849px;
	bottom: -94px;
	left: -85px;
}

.accesory.accesory-product-pintura.extra-1 {
	width: 163px;
	height: 160px;
	background-position: -1002px -839px;
	bottom: -48px;
	left: -134px;
}

.accesory.accesory-product-pintura.extra-2 {
	width: 91px;
	height: 69px;
	background-position: -722px -839px;
	bottom: -34px;
	right: -119px;
}

.item-product {
	position: absolute;
}

.wrapper-lastest-releases .item-product-block-negro{
	top: 962px;
	left: 142px;
}

.item-product.item-product-block-negro {
	width: 276px;
	height: 278px;
	background-position: -532px -31px;
	
}

.wrapper-lastest-releases .item-product-papel-madera {
	top: 989px;
	left: 0;
	right: 0;
	margin: auto;
}

.item-product.item-product-papel-madera {
	width: 260px;
	height: 295px;
	background-position: -828px -31px;	
}

.wrapper-lastest-releases .item-product-cartulina-fantasia {
	top: 962px;
	right: 142px;
}

.item-product.item-product-cartulina-fantasia {
	width: 262px;
	height: 285px;
	background-position: -1127px -31px;	
}

.wrapper-lastest-releases .item-product-block-color {
	top: 1348px;
	left: 0;
	right: 0;
	margin: auto;
}
.item-product.item-product-block-color {
	width: 200px;
	height: 213px;
	background-position: -1419px -26px;
	
}

.title-nuevos-lanzamientos {
	width: 486px;
	height: 138px;
	background-position: -11px -30px;
	position: absolute;
	left: 0;
	right: 0;
	top:25px;
	margin: auto;
   	/*-webkit-animation: anim-title-nuevos-lanzamientos 1s linear 2s infinite alternate;
    animation: anim-title-nuevos-lanzamientos 1s linear 2s infinite alternate;*/
}

/* Chrome, Safari, Opera */
@-webkit-keyframes anim-title-nuevos-lanzamientos {
    from {opacity: 1;}
    to {opacity: .4;}
}

/* Standard syntax */
@keyframes anim-title-nuevos-lanzamientos {
    from {opacity: 1;}
    to {opacity: .4;}
}


.title-mini-artistas {
	width: 409px;
	height: 102px;
	background-position: -13px -198px;
	position: absolute;
	left:660px;
	top:667px;
	/*-webkit-animation: pulmon 2s linear 2s infinite alternate;
    animation: pulmon 2s linear 2s infinite alternate;*/
}

.title-se-agrando-la-familia {
	width: 257px;
	height: 133px;
	background-position: -12px -328px;
	position: absolute;
	left: -45px;
	top: 836px;
	right: 0;
	margin: auto;
	/*-webkit-animation: pulmon 2s linear 2s infinite alternate;
    animation: pulmon 2s linear 2s infinite alternate;*/
}

.prod {
	position: absolute;
}

.prod-block-color {
	left: 30px;
	top: 890px;
}

.prod-block-blanco {
	left: 305px;
	top: 1050px;
	z-index: 999;
}

.prod-block-negro {
	left: 472px;
	top: 890px;
}

.prod-cartulina-fantasia {
	left: 705px;
	top: 1000px;
	z-index: 999;
}

.prod-papel-madera {
	left: 873px;
	top: 890px;
}

