.nav-form-user-initial,
.list-form-user-initial {
	display: inline-block;
	width: 100%;
}

.nav-form-user-initial {
	padding: 145px 0 0 60px;

}

.nav-form-user-initial .list-form-user-initial {
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial {
	width: 100%;
	margin:0 0 80px 0;
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial:last-child{
	margin-bottom: 0;
	
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial .btn {
	font-family: "blurmediumregular";
	font-size: 26pt;
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial .btn span {
	display: inline-block;
	text-shadow: 2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				2px 2px 4px rgba(255,255,255,1),
				-2px -2px 4px rgba(255,255,255,1),
				1px -3px 1px rgba(255,255,255,1),
				-1px 2px 10px rgba(255,255,255,1),
				4px 4px 14px rgba(0,0,0,.5);
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial .btn.btn-registered {
	color: rgba(141,198,63,1);
	-webkit-transform:rotate(-2deg);
	transform:rotate(-2deg);
}

.nav-form-user-initial .list-form-user-initial .item-form-user-initial .btn-registration {
	color: rgba(249,6,6,1);
	-webkit-transform:rotate(0deg);
	transform:rotate(0deg);
}
