.wrapper-pdf-files {
	position: relative;
	margin: 0 auto;
	width: 1158px;
}

.wrapper-pdf-files.pdf-1 {
	height: 430px;
	background-position: -1298px -572px;
}

.wrapper-pdf-files.pdf-2 {
	height: 763px;
	background-position: -1286px -1040px;
}

.icon-pdf-file {
	cursor: pointer;
	position: absolute;
	width: 308px;
	height: 300px;
	/*background: transparent url("images/svg-assets.svg");*/
	background: transparent url("images/pdf-file-icons.png");
	-webkit-transform:scale(.9);
	transform:scale(.9);
	 -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;

}

.wrapper-pdf-files .icon-pdf-file:hover {
	-webkit-transform:scale(1);
	transform:scale(1);
}


.icon-pdf-file[data-file="1"] {
	background-position: -44px -406px;
	left: 10px;
	top: 67px;
}

.icon-pdf-file[data-file="2"] {
	background-position: -372px -406px;
	left: 281px;
	top: 37px;
}

.icon-pdf-file[data-file="3"] {
	background-position: -704px -406px;
	right: 290px;
	top: 100px;
}

.icon-pdf-file[data-file="4"] {
	background-position: -1034px -406px;
	right: 8px;
	top: 65px;
}

.icon-pdf-file[data-file="5"] {
	background-position: -44px -30px;
	left: 50px;
	top: 65px;
}

.icon-pdf-file[data-file="6"] {
	background-position: -372px -30px;
	left: 431px;
	top: 50px;
}

.icon-pdf-file[data-file="7"] {
	background-position: -704px -30px;
	right: 37px;
	top: 67px;
}

.icon-pdf-file[data-file="8"] {
	background-position: -1034px -30px;
	left: 194px;
	top: 425px;
}

.icon-pdf-file[data-file="9"] {
	background-position: -1396px -30px;
	right: 228px;
	top: 430px;
}