<section class="view contact-view">
	<p class="title-view">PODÈS DEJARNOS TU COMENTARIO, CONSULTA O CONSEJO</br> COMPLETANDO EL FORMULARIO.</p>
	<section class="contact-form">
		<div class="wrapper-contact-form background-assets">
			<div class="title-contacto generic-assets"></div>
			<div class="wrapper-form">
				<form class="generic-form">
					<ul class="form-list">
						<li class="item-form-list">
							<label class="font-color-green">Nombre:</label>
							<input id="user-name" type="text" />
						</li>
						<li class="item-form-list">
							<label class="font-color-orange">Apellido:</label>
							<input id="user-last-name" type="text" />
						</li>
						<li class="item-form-list">
							<label class="font-color-blue">Correo Electronico:</label>
							<input id="user-email" type="email" value=""/>
						</li>
						<li class="item-form-list">
							<label class="font-color-red">Comentario:</label>
							<input id="user-comment" type="text" />
						</li>
					</ul>			
				</form>
				<div class="wrapper-form-log-error"></div>
			</div>
		</div>
	</section>
	<div class="form-shadow background-assets"></div>
	<div class="btn btn-send">¡Enviar!</div>
</section>