<section class="view home-view">
	<p class="title-view">LA MARCA QUE LAS MADRES ELIGEN</br> Y LOS DOCENTES RECOMIENDAN.</br></br>
	LA LINEA MÀS COMPLETA DE PRODUCTOS</br> PARA ACTIVIDADES MANUALES Y DIBUJO.
	</p>
	<section class="wrapper-lastest-releases">
		<!--<img class="title-nuevos-lanzamientos" src="images/nuevos-lanzamientos.png" />
		<img class="title-mini-artistas" src="images/mini-artistas.png" />
		<img class="title-se-agrando-la-familia" src="images/se-agrando-la-familia.png" />-->
		<div class="assets title-nuevos-lanzamientos"></div>
		<div class="assets title-mini-artistas"></div>
		<div class="assets title-se-agrando-la-familia"></div>
		<img class="prod prod-block-blanco" src="images/extras/block-blanco.png" />
		<img class="prod prod-block-negro" src="images/extras/block-negro.png" />
		<img class="prod prod-block-color" src="images/extras/block-color.png" />
		<img class="prod prod-cartulina-fantasia" src="images/extras/cartulina-fantasia.png" />
		<img class="prod prod-papel-madera" src="images/extras/papel-madera.png" />
		<ul class="list-releases">
			<li>
				<div class="item-new-release product-origami">
					<div class="wrapper-accesories">
						<img class="accesory p1" src="images/extras/valija-origami.png" />
						<img class="accesory p2" src="images/extras/cuaderno-origami.png" />
						<img class="accesory p3" src="images/extras/accesorio-origami-01.png" />
					</div>
					<div class="wrapper-release-description">
						<h1>TALLER DE ORIGAMI</h1>
						<p>A través de la técnica del origami, explora el ecosistema marino.
Ideal para enseñar Ciencias Naturales usando la técnica milenaria del origami, incluye variedad de hojas estampadas para hacer animales del ecosistema marino, un escenario para armar y stickers con ojos, pezuñas y detalles que completan cada especie. El set incluye una guía de actividades para desarrollar</br> junto a tus alumnos.</p>
					</div>
					<aside class="product-element">
					</aside>
				</div>
			</li>
			<li>
				<div class="item-new-release product-titeres">
					<div class="wrapper-accesories">
						<img class="accesory p1" src="images/extras/valija-titeres.png" />
						<img class="accesory p2" src="images/extras/cuaderno-titeres.png" />
						<img class="accesory p3" src="images/extras/accesorio-titeres-01.png" />
					</div>
					<div class="wrapper-release-description">
						<h1>TALLER</br> DE TÍTERES</h1>
						<p>A través de la confección de títeres de dedos, induce al desarrollo literario.
Invita a crear divertidos títeres de dedos y hacerlos actuar  en un mini-teatro para armar. El set incluye una guía de actividades para ser autor, productor y director de tu propia obra. Se acompaña con crayones y stickers.</p>
					</div>
					<aside class="product-element">
					</aside>
				</div>
			</li>
			<li>
				<div class="item-new-release product-pintura">
					<div class="wrapper-accesories">
						<img class="accesory p1" src="images/extras/valija-pinturas.png" />
						<img class="accesory p2" src="images/extras/cuaderno-pinturas.png" />
						<img class="accesory p3" src="images/extras/accesorio-pinturas-01.png" />
						<img class="accesory p4" src="images/extras/accesorio-pinturas-02.png" />
					</div>
					<div class="wrapper-release-description">
						<h1>TALLER</br> DE PINTURA</h1>
						<p>Basado en técnicas de obras de pintores famosos.
Recorre magníficas obras de destacados pintores del mundo y estimula la creatividad que todos llevamos dentro. Explorando diversas técnicas artísticas, por medio de un cuadernillo guía, témperas, crayones, tizas y pincel, ¡habrá muchos 
mini-artistas creando!</p>
					</div>
					<aside class="product-element">
					</aside>
				</div>
			</li>
			<li>
				<div class="item-new-release product-figuras">
					<div class="wrapper-accesories">
						<img class="accesory p1" src="images/extras/valija-figuras.png" />
					</div>
					<div class="wrapper-release-description">
						<h1>TALLER</br> DE FIGURAS</h1>
						<p>Se proponen distintas actividades utilizando formas geométricas.
La propuesta perfecta que invita a explorar el mundo de las figuras geométricas mediante la realización de algunos juegos clásicos, como el tangram. El set incluye un instructivo completo que guía la actividad, hojas, lápiz y regla. 
¡Solo resta animarse a crear! </p>
					</div>
					<aside class="product-element">
					</aside>
				</div>
			</li>
		</ul>
	</section>
</section>