<section class="view products-view">
	<p class="title-view">LA MARCA QUE LAS MADRES ELIGEN Y LOS DOCENTES RECOMIENDAN.</br>LA LINEA MÀS COMPLETA DE PRODUCTOS PARA ACTIVIDADES</br> MANUALES Y DIBUJO.</p>
	<section class="wrapper-products products-mini-artista background-assets">
		<div class="title-products-mini-artista title-wrapper-products generic-assets"></div>
		<div class="product item-product item-product-taller-de-origami generic-assets" data-product="1"></div>
		<div class="product item-product item-product-taller-de-titeres generic-assets" data-product="2"></div>
		<div class="product item-product item-product-taller-de-pintura generic-assets" data-product="3"></div>
		<div class="product item-product item-product-taller-de-figuras generic-assets" data-product="4"></div>
	</section>
	<section class="wrapper-products products-blocks background-assets">
		<div class="title-product-blocks title-wrapper-products generic-assets"></div>
		<div class="product item-product item-product-block-negro generic-assets" data-product="5"></div>		
		<div class="product item-product item-product-cartulina-fantasia generic-assets" data-product="9"></div>
		<div class="product item-product item-product-block-color generic-assets" data-product="7"></div>
		<div class="product item-product item-product-papel-madera generic-assets" data-product="8"></div>
		<div class="product item-product item-product-block-blanco generic-assets" data-product="6"></div>
	</section>
	<section class="wrapper-products products-repuestos background-assets">
		<div class="title-product-repuestos title-wrapper-products generic-assets"></div>
		<div class="product item-product item-product-repuestos generic-assets" data-product="10"></div>
	</section>
</section>