<section class="view profesors-view">
	<p class="title-view">¡EL NENE TE OFRECE HERRAMIENTAS PARA DESCARGAR Y</br> APROVECHAR AL MÀXIMO TUS CLASES!</p>
	<section class="wrapper-pdf-files pdf-1">
		<div class="assets icon-pdf-file" data-file="1"></div>
		<div class="assets icon-pdf-file" data-file="2"></div>
		<div class="assets icon-pdf-file" data-file="3"></div>
		<div class="assets icon-pdf-file" data-file="4"></div>
	</section>
	<section class="wrapper-pdf-files pdf-2">
		<div class="assets icon-pdf-file" data-file="5"></div>
		<div class="assets icon-pdf-file" data-file="6"></div>
		<div class="assets icon-pdf-file" data-file="7"></div>
		<div class="assets icon-pdf-file" data-file="8"></div>
		<div class="assets icon-pdf-file" data-file="9"></div>
	</section>
</section>